<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
 <iframe src="https://test-backoffice.paymentiq.io/paymentiq/backoffice/dashboard/rta/app/kibana#/dashboard/Acceptance-rate-overview-MJ-(0)?embed=true&_g=(refreshInterval:(pause:!t,value:0),time:(from:now-30d,mode:quick,to:now))&_a=(description:with_all,filters:!(),fullScreenMode:!f,options:(darkTheme:!f,useMargins:!t),panels:!((gridData:(h:8,i:'3',w:12,x:0,y:0),id:'Countries-pie-chart-(0)',panelIndex:'3',type:visualization,version:'6.6.1'),(gridData:(h:8,i:'5',w:12,x:0,y:16),id:'tx-type-pie-chart-(0)',panelIndex:'5',type:visualization,version:'6.6.1'),(gridData:(h:8,i:'6',w:12,x:0,y:8),id:'psp-pie-chart-(0)',panelIndex:'6',type:visualization,version:'6.6.1'),(gridData:(h:8,i:'17',w:12,x:12,y:16),id:'Acceptance-rate-pie-chart-(0)',panelIndex:'17',type:visualization,version:'6.6.1'),(gridData:(h:8,i:'20',w:12,x:36,y:16),id:'PSP-account-(0)',panelIndex:'20',type:visualization,version:'6.6.1'),(gridData:(h:8,i:'21',w:12,x:24,y:16),id:'Status-code-(0)',panelIndex:'21',type:visualization,version:'6.6.1'),(gridData:(h:16,i:'26',w:36,x:12,y:0),id:'Top10-PSP-acceptance-rate-(0)',panelIndex:'26',type:visualization,version:'6.6.1')),query:(query_string:(analyze_wildcard:!t,query:'*')),timeRestore:!t,title:Acceptance-rate-overview-MJ,viewMode:view)" height="600" width="800"></iframe>
</body>
</html>